<div>
  <div class="flex-center p-20 white-text">
    You can fetch data for 4 weeks at a time irrespective of number of weeks put below
  </div>
  <div class="flex-center">
    <mat-form-field>
      <mat-label>Start Date (DD-MM-YYYY)</mat-label>
      <input matInput [(ngModel)]="startDate">
      <mat-hint>Please enter Start date</mat-hint>
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Number of weeks</mat-label>
      <input matInput [(ngModel)]="endDate">
      <mat-hint>Please enter number of weeks</mat-hint>
    </mat-form-field>
  </div>

  <mat-card class="m-20" *ngFor="let request of requests; let i = index">
    <mat-card-header>
      <mat-card-title>{{request.alert}}</mat-card-title>
      <mat-card-subtitle>State: {{request.state.stateName}}</mat-card-subtitle>
      <mat-card-subtitle>District: {{request.district.districtName}}</mat-card-subtitle>
      <mat-card-subtitle>Age: {{request.age}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="view(request)">View</button>
      <button mat-button (click)="delete(i)">Delete</button>
    </mat-card-actions>
  </mat-card>
  <button mat-fab color="primary" aria-label="Add trigger" class="bottom-float" (click)="openDialog()">
    <mat-icon>add</mat-icon>
  </button>
</div>